.active-link {
    background-color: rgba(255, 255, 255, 0.5) !important;
    padding: 8px;
    border-radius: 5px; 
  }

     @font-face {
       font-family: poppinsB;
       src: url(../assets/Poppins-Bold.ttf);
     }
  
     .poppinsB {
       font-family: poppinsB;
     }
  
     @font-face {
       font-family: poppins;
       src: url(../assets/Poppins-Regular.ttf);
     }
  
     .poppins {
       font-family: poppins;
     }